{% extends 'base.html' %}
{% load i18n static wagtailuserbar wagtailcore_tags wagtailimages_tags %}
{% block content %}
<body>


  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  {% include 'includes/header.html' %}
  <main id="main">
  {% for block in page.content %}
    {% with blockid=forloop.counter %}
      {% include_block block %}
    {% endwith %}
  {% endfor %}
  </main>

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright
      </div>
      <div class="credits">
      </div>
    </div>
  </footer>
{% endblock %}